<template><div class="apidatatable">
    <h1>{{ msg }}</h1>
    <hr>

Show
<select v-model="itemPerPage">
    <option>30</option>
    <option>50</option>
    <option>100</option>
</select>
entries

<ul>
    <li> 
        <button v-if="currentPage==1" class="no-click">Pervious</button>
        <button v-if="currentPage!=1" @click="perviousClick(currentPage)">Pervious</button> 
    </li>
    <li v-for="pageNumber in totalPages">
        <button v-if="currentPage==pageNumber" class="now-page" @click="setPage(pageNumber)">{{pageNumber}}</button>
        <button v-if="currentPage!=pageNumber" @click="setPage(pageNumber)">{{pageNumber}}</button>
    </li>
    <li> 
        <button v-if="currentPage==totalPages" class="no-click">Next</button>
        <button v-if="currentPage!=totalPages" @click="nextClick(currentPage)">Next</button>
    </li>
</ul> 

<div id="modal-template" v-if="showModal">
    <div class="modal-mask" transition="modal">
        <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                Edit Information
            </div>
            <div class="modal-body">
                <p>API: <input class="textfield" v-model="apiModal"></p>
                <p>Category: <select v-model="categoryModal">
                    <option disabled value="">Please select one</option>
                    <option v-for="category in categorylist">{{category}}</option>
                </select></p>
                <p>Description: <textarea class="textarea" v-model="descriptionModal"></textarea></p>
                <p>Auth
                    <input type="radio" name="auth" v-model="checkAuth" value="true">Yes
                    <input v-if="checkAuth==true || checkAuth=='true'" v-model="authModal">
                    <input v-if="checkAuth==false || checkAuth=='false'" v-model="clearAuthModal" disabled>
                    <input type="radio" name="auth" v-model="checkAuth" value="false">No
                </p>
                <p>HTTPS
                    <input type="radio" name="https" v-model="httpsModal" value="true">Yes
                    <input type="radio" name="https" v-model="httpsModal" value="false">No
                </p>
                <p>Links: <input class="links" v-model="linksModal"></p>
            </div>
            <div class="modal-footer">
                <button class="modal-cancel-button" @click="setModalClose()">Cancel</button>
                <button v-if="editBtn==true" class="modal-save-button" @click="updateEdit()">Save</button>
                <button v-if="addBtn==true" class="modal-save-button" @click="addData()">Save</button>
            </div>
        </div>
        </div>
    </div>
</div>

<button class="show-modal" @click="showModal=true, setData()">Add Data</button>

<p><input type="checkbox" id="checkbox" v-model="checked"> Show column description</p>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <!-- <th class="click-sort" @click="sortTable(column)" v-for="column in columns">
                {{column}}
            </th> -->
            <th class="click-sort" @click="sortTable(columns[0])">{{columns[0]}}</th>
            <th class="click-sort" @click="sortTable(columns[1])">{{columns[1]}}</th>
            <th v-if="checked==true">{{columns[2]}}</th>
            <th>{{columns[3]}}</th>
            <th>{{columns[4]}}</th>
            <th>{{columns[5]}}</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(row,index) in arrayPaging">
            <td class="show-modal" @click="showModal=true, setEditModal(index)">{{(index+1)+(currentPage-1)*itemPerPage}}</td>
            <td>{{row.Category}}</td>
            <td class="show-modal" @click="showModal=true, setEditModal(index)">{{row.API}}</td>
            <td v-if="checked==true">{{row.Description}}</td>
            <td v-if="row.Auth!=null && row.Auth!='no'">{{row.Auth}}</td>
            <td v-if="row.Auth==null || row.Auth=='no'">No</td>
            <td v-if="row.HTTPS==true || row.HTTPS=='true'">Yes</td>
            <td v-if="row.HTTPS==false || row.HTTPS=='false'">No</td>
            <td><a href="row.Link" target="_blank">Go!</a></td>
            <td>
                <button class="delete-btn" @click="deleteRow(index)">Delete</button>
            </td>
            <td>
                <button class="show-modal" @click="showModal=true, setEditModal(index)">Edit</button>
            </td>
        </tr>    
    </tbody>
</table>

</div></template>

<script>
import axios from 'axios';
export default {
  name: 'apidatatable',
  data () {
    return {
      msg: 'API Datatable',
      //datas: [],
      columns: ["Category","API","Description","Auth","HTTPS","Link"],
      modalEdit: {},
      showModal: false,
      itemPerPage: 50,
      currentPage: 1,
      resultCount:0,
      countRow:0,
      sortKey:'Category',
      reverse:false,
      apiModal:'',
      categoryModal:'',
      descriptionModal:'',
      authModal:'',
      clearAuthModal:'',
      checkAuth: '',
      httpsModal: '',
      linksModal: '',
      addBtn: false,
      editBtn: false,
      checked:true,

    }
  },
  created(){
    axios.get(`https://raw.githubusercontent.com/toddmotto/public-apis/master/json/entries.json`)
        .then(response => {
            //this.datas = response.data
            this.$store.commit("addDataList",response.data.entries)
        })
        .catch(e => {
            console.log(e)
        })
  },
  computed:{
    datalist(){
        return this.$store.state.datalist[0];
    },
    categorylist(){
        return this.$store.state.categorylist;
    },
    arrayPaging: function(){
        var x = (this.currentPage-1)*this.itemPerPage;
        var y = (this.currentPage*this.itemPerPage);
        //console.log(x+" "+y)
        if(this.datalist!=null){
            return this.datalist.slice(x,y);
        }
    },
    totalPages:function(){
        //console.log(this.datalist);
        if(this.datalist!=null){
            this.resultCount = this.datalist.length;
        }
        return Math.ceil(this.resultCount/this.itemPerPage);
    },

  },
  methods:{
    deleteRow: function(index){
        index = (this.currentPage-1)*this.itemPerPage + index;
        this.$store.commit("deleteRow",index);
    },
    setEditModal:function(index){
        this.editBtn = true;
        this.index = (this.currentPage-1)*this.itemPerPage + index;;
        this.modalEdit= this.datalist[this.index];
        this.apiModal = this.modalEdit.API;
        this.categoryModal = this.modalEdit.Category;
        this.descriptionModal = this.modalEdit.Description
        this.authModal = this.modalEdit.Auth;
        if(this.authModal==null){
            this.authModal="";
            this.checkAuth=false;
        }else{
            this.checkAuth=true;
        }
        this.httpsModal = this.modalEdit.HTTPS;
        this.linksModal = this.modalEdit.Link;
        //console.log(this.index); 
    },
    updateEdit:function(){
        this.setModalClose();
        this.editBtn = false;
        if(this.checkAuth=='false'){
            this.authModal = 'no';
        }
        this.$store.commit("updateEdit",{index:this.index,API:this.apiModal,Auth:this.authModal,Category:this.categoryModal,Description:this.descriptionModal,HTTPS:this.httpsModal,Link:this.linksModal});
    },
    setData:function(){
        this.addBtn = true;
        this.apiModal = '';
        this.categoryModal = '';
        this.descriptionModal = '';
        this.authModal ='';
        this.checkAuth = false;
        this.httpsModal = false;
        this.linksModal = '';
    },
    addData:function(){
        this.setModalClose();
        if(this.checkAuth=='false'){
            this.authModal = 'no';
        }
        this.$store.commit("addData",{API:this.apiModal,Auth:this.authModal,Category:this.categoryModal,Description:this.descriptionModal,HTTPS:this.httpsModal,Link:this.linksModal});
    },
    setPage:function(pageNumber){
        this.currentPage = pageNumber;
    },
    sortTable:function(column){
        this.sortKey = column;
        this.reverse = (this.sortKey==column) ? ! this.reverse : false;
        //console.log("SortKey: "+this.sortKey+" "+this.reverse);
        this.$store.commit("sortTable",{sortKey:this.sortKey,reverse:this.reverse});
    },
    perviousClick: function(currentPage){
        this.currentPage = currentPage-1;
    },
    nextClick: function(currentPage){
        this.currentPage = currentPage+1;
    },
    setModalClose:function(){
        this.showModal=false;
        this.editBtn = false;
        this.addBtn = false;
    },
  },
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
table{
    width:100%;
    margin:0 auto;
    clear:both;
    border-collapse:collapse;
    border-spacing:0;
}
th, td {
    padding:10px;
}
th{
    background-color:#45b6ae;
    color:white;
}
.click-sort{
    cursor:pointer;
}
.click-sort:hover{
    background-color: #2ca39b;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
a {
  color:#45b6ae;
}
button {
    background-color: white;
    border: 1px solid #45b6ae;
    color: #45b6ae;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
button.no-click{
    cursor: not-allowed;
}
button.now-page{
    background-color: #45b6ae;
    border: 1px solid #45b6ae;
    color:white;
}
button.show-modal{
    background-color: #45b6ae;
    border: 1px solid #45b6ae;
    color:white;
}
.delete-btn{
    background-color: #f44336;
    border: 1px solid #f44336;
    color:white;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 5px;
}
input{
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}
input.textfield{
    width:90%;
    margin: 5px;
}
input.links{
    width:100%;
    margin-top: 5px;
}

textarea{
    padding: 5px 5px;
    margin-top:5px;
    width:100%;
    height:70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
}
.show-modal{
    cursor:pointer;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 400px;
  margin: 0px auto;
  padding-bottom: 20px;
  padding-top: 0px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  text-align:left;
}
.modal-header{
  padding: 10px;
  color: white;
  background-color: #45b6ae;
  font-weight:bold;
}
.modal-body {
  margin: 0px 15px;
  color: #45b6ae;
}
.modal-footer{
  padding-bottom: 20px;
  padding-top:10px;
}
.modal-save-button {
  float: right;
  background-color: #45b6ae;
  border: 1px solid #45b6ae;
  color:white;
}
.modal-cancel-button {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f44336;
  border: 1px solid #f44336;
  color:white;
}
.modal-enter, .modal-leave {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
