<template>
  <div id="app">
<!--     <img src="./assets/logo.png">
    <hello></hello> -->
    <apidatatable></apidatatable>
  </div>
</template>

<script>
import Hello from './components/Hello'
import ApiDatatable from './components/ApiDatatable.vue'

export default {
  name: 'app',
  components: {
    Hello,
    apidatatable:ApiDatatable,
  }
}
</script>

<style>
#app {
  font-family: Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  font-size: 12px;
}
</style>
